@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-image: url(img/hátérkép.png);
    background-size: cover;
}
 
#xboxh1{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 65px;
    background-color: black ;
    border: solid;
}

.kep{
    width: 200%;
    height: 240%;
    margin: auto;
    text-align: center;
}

#h2{
    color: red;
    text-align: left;
    font-size: 50px;
    background-color: white;
    width: 11.5%;
}

.container{

    height: max-content
;
    width: max-content;
    
    float: left;
}
 .box1{

    background-color:green;
    width: 200px;
    height: 200px;
    float: left;
    margin: 170px 80px 80px 45px;
    transition: 1s;
    
 }
 
 .box2{

    background-color: green;
    width: 200px;
    height: 200px;
    float: left;
    margin: 170px 80px 80px 150px;
    transition: 1s;
 }

 .box3{

   background-color: green;
   width: 200px;
   height: 200px;
   float: left;
   margin: 170px 80px 80px 150px;
   transition: 1s;
}

.box4{
    background-color: green;
    width: 200px;
    height: 200px;
    float: left;
    margin: 170px 80px 80px 150px;
    transition: 1s;
}

.box5{
    background-color: green;
    width: 200px;
    height: 200px;
    float: left;
    margin: 170px 80px 80px 150px;
    transition: 1s; 
}


 .box1:hover{

    background-color: black;
    transform: scale(1.2);
    border-radius: 100px;
 }
 .box2:hover{

    background-color: black;
    transform: scale(1.2);
    border-radius: 100px;
 }

 .box3:hover{

   background-color: black;
   transform: scale(1.2);
   border-radius: 100px;
}
.box4:hover{
    background-color: black;
    transform: scale(1.2);
    border-radius: 100px;
}

.box5:hover{
    background-color: black;
    transform: scale(1.2);
    border-radius: 100px;
}

 
